<p id="notice"><%= notice %></p>

<p>
  <b>Autor:</b>
  <%= @comment.autor %>
</p>

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>

<p>
  <b>Word:</b>
  <%= @comment.word %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
