<%= form_for @word, :html => { :class => 'form-inline'} do |f| %>
  <br />
  <div class="control-group">
    <%= f.label :name,"Giria", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, "data-validation" => "validate_length length3-5", :class => 'input-medium',:size => 2,:placeholder => "Digite sua Giria" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description,"Descrição", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area',:rows => 3, :placeholder => "Digite o Significado" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :autor, :class => 'control-label' %>
    <div class="controls">
      <% if current_user %>
        <%= f.text_field :autor, :class => 'text_field',:value => current_user.name %>
      <% else %>
       <%= link_to "Entre com o usuário do Facebook", "/auth/facebook", id: "sign_in", :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

  <center>
  <div class="form-actions">
    <%= f.submit "Cadastrar", :class => 'btn btn-primary' %>
  </div>
</center>
<% end %>
