<!DOCTYPE html>
<html>
<head>
  <title>Pintapedia</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
          <%= image_tag("logo.png", :class => "img-rounded",:size => "35x35") %>
          <%= link_to "Pintapedia", root_path, :class => 'brand' %>
      <div class="nav-collapse">
        <ul class="nav">
          <li></li>
        </ul>
      </div>
    </div>
  </div>
  
</div>
<div class="container">
  <div class="row">
    <div class="span10">
      <%= yield %>
    </div>
    <div class="span2">
      <h4>Entrem com o Facebook, para ficar mais divertido :)</h4>
      <%= render :partial => "home/login" %>
     </div>
  </div>
</div>

</body>
</html>
